body{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
text-align: center;
}
.container{
  background: hsl(0, 0%, 4%);;
}
h1{
  text-align: center;
  color: #f2f2f2;
}
input[type="text"]{
  padding: 5px;
  margin-right: 10px;
}
button{
  padding: 5px 10px;
  cursor: pointer;
  background-color: #08213c;
  color: #fff;
  border: none;
}
button:hover{
  background-color: #606365;
}
table{
  width: 100%;
  border-collapse: collapse;
  border: #08213c;
  margin: 5px;
  padding: 10px ;
  
}
th,td{
  border: 1px solid;
  padding: 8px;
  text-align: center;
  color: #f2f2f2;
  padding: 5px;
}
th{
  color: #f2f2f2;
}
th:nth-child(even){
  color: #f2f2f2;
}